*{
  box-sizing: border-box;
}
body {
  font-family: 'Barlow', sans-serif;
  background-image: url("./assets/background.svg");
  background-size: cover;
  background-attachment: fixed;
  zoom: unset;

}
header {
  margin-bottom: 0.4rem;
  border-bottom: solid 1px #e2e2e2;

}

header .header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

header .header a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #393939;
}
header .header img{
  width: 161px;
  height: 80px;
}

header .header-content{
  width: 100%;
  border-bottom: 1px solid #000;
}

main {
  margin-bottom: 5rem;
}

main .bannerSlider{
  cursor: pointer;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: #dfccca;
  color: #595757;
}
.bannerSlider img{
  height: 10em;
  width: 100%;
}

@media (max-width: 800px) {

  
  header .header{

    padding-bottom: 16px;
  }
  

  header .header img{
    width: 161px;
    height: 60px;
  }
  
  
  footer{
    position: fixed;
    bottom: 0;
    left: 0;
  
    width: 100%;
  
    display: flex;
    justify-content: space-between;
  
    background-color: #dfccca;
    color: #595757;
  }
  .bannerSlider img{
    height: 5em;
  }
}
